.planCardContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--Cool_gray);
  cursor: pointer;
}

.planCardContainer:hover {
  border: 1px solid var(--Purplish_blue);
}

.planCardContainerSelected {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--Purplish_blue);
  background-color: var(--Light_blue);
  cursor: pointer;
}

.planDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.planName {
  color: var(--Marine-blue);
}

.planPrice {
  color: var(--Cool_gray);
}

.planFreeDisclaimer {
  color: var(--Marine-blue);
  font-size: small;
}

@media (min-width: 800px) {
  .planCardContainer,
  .planCardContainerSelected {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 33%;
  }
}
