.formContainer {
  background-color: var(--White);
  padding: 1.5rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.formTitle {
  font-weight: 700;
  color: var(--Marine-blue);
}

.formDescription {
  font-weight: 400;
  color: var(--Cool_gray);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.label {
  font-size: small;
  color: var(--Marine-blue);
}

.input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--Cool_gray);
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-weight: 700;
  color: var(--Cool_gray);
}

.planSelectorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.selectedPlan {
  color: var(--Marine-blue);
  font-weight: 700;
}

.switchContainerMonthly {
  width: 4rem;
  height: 2rem;
  border-radius: 50px;
  padding: 0.5rem;
  background-color: var(--Marine-blue);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switchContainerYearly {
  width: 4rem;
  height: 2rem;
  border-radius: 50px;
  padding: 0.5rem;
  background-color: var(--Marine-blue);
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
}

.switchBtn {
  background-color: var(--White);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.unselectedPlan {
  color: var(--Cool_gray);
  font-weight: 700;
}
