.stepBarContainer1 {
  height: 10vh;
  background-color: var(--White);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  width: 100vw;
  bottom: 00%;
}

.stepBarContainer234 {
  height: 10vh;
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  width: 100vw;
  bottom: 00%;
}

.backBtn {
  color: var(--Cool_gray);
  cursor: pointer;
  font-weight: 700;
  border: none;
  background-color: var(--White);
}

.backBtn:hover {
  color: var(--Marine-blue);
}

.nextBtn {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--Marine-blue);
  color: var(--White);
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

.submitBtn {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--Purplish_blue);
  color: var(--White);
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

.stepBarContainerSubmitted {
  height: 10vh;
  background-color: var(--Light_blue);
}

@media (min-width: 800px) {
  .stepBarContainer1 {
    position: static;
    width: 95%;
  }
  .stepBarContainer234 {
    position: static;
    width: 95%;
  }

  .stepBarContainerSubmitted {
    height: 10vh;
    background-color: var(--White);
  }
}
